@model BsGroupEditorSample.Models.GroupEditorViewModel
@using BForms.Html
@using BsGroupEditorSample.Resources
@using BForms.Models
@using BForms.Grid
@using BsGroupEditorSample.Controllers
@using BForms.Editor
@using BsGroupEditorSample.Mock

@{
    var builder = Html.BsGroupEditorFor(x => x.Editor);

    builder.ConfigureTabs(cfg =>
    {
        var tab3 = cfg.For(x => x.Tab3)
            .Template(x => x.Grid, "_TabItem")
            //.Template(x => x.Search, "~/Areas/Demo/Views/Contributors/Toolbar/_Search.cshtml")
            //.Template(x => x.New, "~/Areas/Demo/Views/Contributors/Toolbar/_New.cshtml")
            .ConnectsWith();

        var tab2 = cfg.For(x => x.Tab2)
            .Template(x => x.Grid, "_TabItem")
            //.Template(x => x.Search, "~/Areas/Demo/Views/Contributors/Toolbar/_Search.cshtml")
            //.Template(x => x.New, "~/Areas/Demo/Views/Contributors/Toolbar/_New.cshtml")
            .ConnectsWith();
        

        var tab1 = cfg.For(x => x.Tab1)
            .Editable()
            .Template(x => x.Grid, "_TabItem")
            //.Template(x => x.Search, "~/Areas/Demo/Views/Contributors/Toolbar/_Search.cshtml")
            //.Template(x => x.New, "~/Areas/Demo/Views/Contributors/Toolbar/_New.cshtml")
            .ConnectsWith();

        tab1.BulkMove = true;

        cfg.Title = "Menu Items";

    })
        .ConfigureGroups(cfg =>
        {
            cfg.For(x => x.Group1)
                .DisplayText("Adauga la Main Menu")
                .DisplayName("Main Menu")
                .Template(x => x.Items, "_GroupItem");

            cfg.For(x => x.Group2)
                .DisplayText("Adauga la Footer Menu")
                .DisplayName("Footer Menu")
                .Template(x => x.Items, "_GroupItem");

            cfg.For(x => x.Group3)
                .DisplayText("Adauga la Admin Menu")
                .DisplayName("Admin Menu")
                .Template(x => x.Items, "_GroupItem");

            cfg.Title = "Menus";
        })
        //.SaveUrl(Url.Action("Save"))
        .IgnoreAjaxRequest(false);

    ViewData["builder"] = builder;
}

@if (Model.Editor != null)
{
    Html.Partial("_GroupEditor", Model.Editor);
}

<script id="js-groupItem" type="text/x-icanhaz">

    <span>{{DisplayName}}</span>

</script>
